{% extends 'base.html.twig' %}

{% block title %}Отчет{% endblock %}

{% block body %}
    <h1 style="font-size: 25px; text-align: center">Отчет о тональности текстовых отзывов</h1>
    <div style="height: 300px;">
        <img src="{{ item.image }}" alt="{{ item.title }}" style="float: left; height: 290px; width: auto;">
        <div style="float: right">
            <h3>Информация об объекте рассмотрения:</h3>
            <p style="text-align: left">{{ item.title }}</p>
            <h3>Информация об используемой модели:</h3>
            <p style="text-align: left">Название метода: {{ item.model.name }}</p>
            <p style="text-align: left">Используемые данные для обучения: {{ item.model.dataSet }}</p>
            <p style="text-align: left">Классификатор: {{ item.model.classificator }}</p>
            {% if item.model.description %}
                <p style="text-align: left">Описание: {{ item.model.description }}</p>
            {% endif %}
        </div>
    </div>

    <h3 style="text-align: center">Дополнительная информация:</h3>
    <p style="text-align: left">
        Тональность отзывов совпала с рейтингом в <strong>{{ item.accuracy }}%</strong> случаях
    </p>
    <p style="text-align: left">В целом отзывы можно отметить как <strong>{{ item.tonality }}</strong></p>
    <p style="text-align: left">Найдено отзывов: <strong>{{ item.countReviews }}</strong></p>

    <h3 style="text-align: center">Отзывы</h3>
    {% for review in item.reviews %}
        {% if review.sentiment matches '/^[\\d\\.]+$/' and review.sentiment == 1  %}
            <div style="margin-bottom: 20px; padding: 25px; border-radius: 15px; background-color: rgba(59,218,0, 0.5)">
                {% if review.author %}
                    <p style="font-size: 12px"><strong>Автор:</strong> {{ review.author }}</p>
                {% endif %}
                {% if review.rating %}
                    <p style="font-size: 12px"><strong>Рейтинг:</strong> {{ review.rating }}</p>
                {% endif %}
                {% if review.pluses %}
                    <p style="font-size: 12px"><strong>Плюсы:</strong> {{ review.pluses }}</p>
                {% endif %}
                {% if review.minuses %}
                    <p style="font-size: 12px"><strong>Минусы:</strong> {{ review.minuses }}</p>
                {% endif %}
                {% if review.description %}
                    <p style="font-size: 12px"><strong>Комментарий:</strong> {{ review.description }}</p>
                {% endif %}
                {% if review.date %}
                    <p style="font-size: 12px"><strong>Дата:</strong> {{ review.date }}</p>
                {% endif %}
            </div>
        {% elseif review.sentiment matches '/^[\\d\\.]+$/' and  review.sentiment == 0%}
            <div style="margin-bottom: 20px; padding: 25px; border-radius: 15px; background-color: rgba(255,7,0, 0.5)">
                {% if review.author %}
                    <p style="font-size: 12px"><strong>Автор:</strong> {{ review.author }}</p>
                {% endif %}
                {% if review.rating %}
                    <p style="font-size: 12px"><strong>Рейтинг:</strong> {{ review.rating }}</p>
                {% endif %}
                {% if review.pluses %}
                    <p style="font-size: 12px"><strong>Плюсы:</strong> {{ review.pluses }}</p>
                {% endif %}
                {% if review.minuses %}
                    <p style="font-size: 12px"><strong>Минусы:</strong> {{ review.minuses }}</p>
                {% endif %}
                {% if review.description %}
                    <p style="font-size: 12px"><strong>Комментарий:</strong> {{ review.description }}</p>
                {% endif %}
                {% if review.date %}
                    <p style="font-size: 12px"><strong>Дата:</strong> {{ review.date }}</p>
                {% endif %}
            </div>
        {% else %}
            <div style="margin-bottom: 20px; padding: 25px; border-radius: 15px; background-color: rgba(156,156,157, 0.5)">
                {% if review.author %}
                    <p style="font-size: 12px"><strong>Автор:</strong> {{ review.author }}</p>
                {% endif %}
                {% if review.rating %}
                    <p style="font-size: 12px"><strong>Рейтинг:</strong> {{ review.rating }}</p>
                {% endif %}
                {% if review.pluses %}
                    <p style="font-size: 12px"><strong>Плюсы:</strong> {{ review.pluses }}</p>
                {% endif %}
                {% if review.minuses %}
                    <p style="font-size: 12px"><strong>Минусы:</strong> {{ review.minuses }}</p>
                {% endif %}
                {% if review.description %}
                    <p style="font-size: 12px"><strong>Комментарий:</strong> {{ review.description }}</p>
                {% endif %}
                {% if review.date %}
                    <p style="font-size: 12px"><strong>Дата:</strong> {{ review.date }}</p>
                {% endif %}
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}